---
layout: default
title: Further details
permalink: /information/
modal: all
image: muurdoch-uni-campus-2.jpg
---

{% include top-section.html %}

{% include information.html %}

<style>
  .information-content,
  .information-content p,
  .information-content h2,
  .information-content ul,
  .information-content li {
    text-align: left !important;
  }

  .information-content ul {
    margin: 0 0 1.5em 1.5em;
    padding-left: 1.2em;
    list-style-position: outside;
  }

  .information-content li {
    margin: 0.25em 0;
  }

  .information-intro-note {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 32px;
    padding: 24px 28px;
    background: #f8fbfd;
    border: 1px solid #d5e2e8;
    border-left: 8px solid #86a6b6;
    border-radius: 12px;
    box-shadow: 0 14px 34px rgba(33, 56, 71, 0.12);
  }

  .information-content .information-intro-note p {
    margin: 0;
    text-align: center !important;
    font-size: 1.05em;
    line-height: 1.6;
  }
</style>