---
layout: default
title: Event schedule
permalink: /schedule/
image: PurpleF_Dark_ResbazQld_NathCampus.jpg
---

{% include top-section.html %}

    <!-- <br><b><h3>Program</h3></b><br> <p>We're putting together a program for you as soon as possible - you can expect it to have a variety of Research and Digital Research skills including <a href="https://carpentries.org/lessons">Carpentries</a> sessions as well as sessions on R, Python, Unix/Shell and Git, HPC, NVivo, SPSS, with many more areas to be decided. For ideas of what might make the program, have a look at the program for <a href="https://resbaz.github.io/resbaz2025qld/schedule/">ResBaz Queensland 2025!</a>.</p> -->

    <h3>Seeking Expression of Interest </h3> <p> Submissions for presenters are now closed and the Program Committee will be in touch with presenters soon, but Volunteer EOIs are still open until further notice. <b>Complete the online form <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=G0wNwHvPk063xxAROpvCMCUe-dU06CxCp2hdIOxOreRUREQzN1BQT0FNQ09aQ1BOR1RBUjVENUhaMSQlQCN0PWcu">here</a></b>.</p>


<!-- {% include schedule.html %} -->
