<section id="information" class="information">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <p><b>Resbaz Perth 2026 will be hosted at Murdoch University.</b></p>
            
            <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=115.82646489143373%2C-32.070374474648546%2C115.83850264549255%2C-32.0645465868601&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?#map=17/-32.067461/115.832484">View Larger Map</a></small>
            
            <h2>Getting to Murdoch University campus</h2>

            <p>Located on South Street in Murdoch, the campus is close to Perth's CBD and just 8km from Fremantle. </p>

            <p>Murdoch University is accessible by public transport and cycling. We encourage to opt for one of these more sustainable options, but if you need to drive,see the important information about parking below.</p>

            <h3>Public transport</h3>

            <p>The Perth campus is a short walk from the Murdoch Train Staton on the Perth-Mandurah line; the main north-south rail line that runs from Perth Underground Station to Mandurah Station. Refer to the Transperth Mandurah Line timetable. </p>
            <p>Transperth offer parking facilities for bicycles and cars at most stations, allowing you to choose Park and Ride as a sustainable transport option. </p>
            <p>Bus routes connect the campus to Murdoch Train Station, Fremantle, and surrounding suburbs. Buses are frequent and stops are located on South St (routes 503, 504, 513), Murdoch Drive (routes 510, 511), and Discovery Way (routes 998, 999, 204, 205, 206, 207). </p>
            <p>Bus stop locations can be seen on <a href="https://maps.murdoch.edu.au/">Murdoch maps</a> (select the bus stop icon). </p>
            <a href="https://www.transperth.wa.gov.au/Timetables/Uni-TAFE-Services/Murdoch-University">Explore bus routes to campus</a>

            <h3>Cycling</h3>

            <p>Details on cycling to campus and facility are available on the <a href="https://www.murdoch.edu.au/explore/about-murdoch/our-locations/perth-campus/getting-to-perth-campus">Murdoch website</a></p>

            <h3>Parking</h3>

            <p>Information on parking is available on the <a href= "https://www.murdoch.edu.au/explore/about-murdoch/our-locations/parking">Murdoch website </a>.</p>
            <p>For parking at the Murdoch campus you'll need to display a valid parking permit or pay for visitors' parking. </p>
            
            <!-- <p>Best carpark for location is XXXX </p> -->

            <h2>On campus</h2>

             <!-- <p>ResBaz will take place in the Boola Katitjin building </p> -->

            <p>For more information about accessibility, please see the <a href="https://maps.murdoch.edu.au/">Murdoch maps</a>.</p>

               <br><br>

    <h2>Dietary and food</h2>

        <p> While we endeavour to meet all dietary needs, we would like to be open with what we're offering to ensure you can make your best decisions regarding any diet, cultural or personal needs.</p>

        <h3>Morning tea and lunch</h3>

            <p>We will provide morning tea and lunch. For those with larger appetites, we recommend bringing additional food.</p>
            <p>Tea and coffee will not be provided, so please bring your own thermos, or order from <a href="https://www.murdoch.edu.au/explore/facilities/eat-drink">the local coffee outlets</a>. There are numerous water refill stations on campus. We strongly encourage you to bring a reusable water bottle and coffee cup to support our sustainability initiatives.</p>
   
        <h3>Restrictions</h3>

        <p>You can let us know about your dietary restrictions when registering. The caterers will be able to cover the ones listed. However, if the available options don't fit your dietary needs, or if you are particularly worried about allergies, we suggest bringing in your lunch and morning tea.</p>

        <p>There are student kitchens that offer food preparation areas with sinks and food bins, as well as microwave ovens ready to use. You'll find student kitchens located in the Student Hub, level 2 of the Geoffrey Bolton Library, and levels 2 and 3 of Boola Katitjin. </p>
   
        <h3>Food purchasing options</h3>

        <p>There are a number of food outlets on campus, see <a href="https://www.murdoch.edu.au/explore/facilities/eat-drink">the Murdoch website for full details</a>.</p>
   <br><br>
   
   <h2>Multifaith / Reflection / Quiet spaces</h2>

   <p>The multi-faith Worship Centre is located a short walk down the Broadwalk at Building 515. For more information, visit the <a href="https://www.murdoch.edu.au/explore/facilities/health-wellbeing/worship-centre">Worship Centre</a>.</p>
   
        </div> 
    </div> 
</section>

